.MuiTabs-flexContainer, .PrivateTabScrollButton-root-86 {
    background-color: #55d685;
}

img {
    max-width: 500px;
}

.MuiPaper-elevation4 {
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2), 0px 0px 0px 0px rgba(0,0,0,0.14), 0px 0px 0px 0px rgba(0,0,0,0.12) !important;
}